@import "nullstyle.scss";
@import "mysettings.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
	font-family: 'Golos Text';
	src: url('../fonts/Golos-Text_Medium.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Golos Text';
	src: url('../fonts/Golos-Text_DemiBold.ttf');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Golos Text';
	src: url('../fonts/Golos-Text_Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

//ШАБЛОНЫ
%displayFlex {
	display: flex;
	justify-content: center;
	align-items: center;
}

//МИКСИНЫ
@mixin img ($objFit){
	img {
		width: 100%;
		height: 100%;
		object-fit: $objFit;
	}
}

.wrapper {
	font-family: Montserrat;
	position: relative;
	@include img(contain);
	min-height: 100vh;
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;

	&__logo1 {
		position: absolute;
		top: 4.3rem;
		left: 50%;
		transform: translateX(-50%);
		width: 178.9rem;
		z-index: -4;
	}
	&__logo2 {
		position: absolute;
		top: 46.6rem;
		left: 50%;
		transform: translateX(-50%);
		width: 173.2rem;
		z-index: -4;
	}
	&__bg1 {
		padding-top: 22rem;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -5;
		img {
			object-fit: fill;
		}
	}
	&__bg2 {
		padding-top: 88.4rem;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -5;
		img {
			object-fit: fill;
		}
	}
	.pasan {
		position: absolute;
		top: -15rem;
		left: 14rem;
		width: 113rem;
		height: 91rem;
		z-index: -2;
		@include img(contain);
		transform: scale(1.4);
	}
	.heart {
		position: absolute;
		top: 6rem;
		left: 43rem;
		z-index: -3;
		@include img(contain);
		transform: scale(0.8) rotate(-15deg);

		width: 20.2rem;
		height: 22.2rem;
		border: 0.4rem solid #d0baba;
		border-radius: 4rem;
		display: flex;
		justify-content: center;
		padding-top: 5.5rem;
		img {
			width: 5.3rem;
			height: 5.3rem;
		}
		display: none;
	}

	&__v1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 60rem;
		height: 38.5rem;
		z-index: -1;
	}
	&__v2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 59.6rem;
		height: 24.4rem;
		z-index: -1;
	}
	&__v3 {
		position: absolute;
		top: 48.2rem;
		left: 0;
		width: 81.8rem;
		height: 68.5rem;
		z-index: -1;
	}
	&__v4 {
		position: absolute;
		top: 48.4rem;
		right: 0;
		width: 54.7rem;
		height: 51rem;
		z-index: -1;
	}
	&__v5 {
		position: absolute;
		bottom: 0rem;
		left: 0;
		width: 56.5rem;
		height: 68rem;
		z-index: 1;
	}
	&__v6 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 39.8rem;
		height: 83.2rem;
		z-index: 1;
	}
	&__ten {
		position: absolute;
		top: -8px;
		left: 0;
		width: 100%;
		height: 127.1rem;
		opacity: 0.52;
		z-index: 3;

		@media (max-width: 1919px) {display: none;}
	}
	&__o1 {
		position: absolute;
		top: 76.7rem;
		left: 0;
		width: 104.7rem;
		height: 80.5rem;
	}
	&__o2 {
		position: absolute;
		top: 76.7rem;
		left: 13.4rem;
		width: 166.3rem;
		height: 80.5rem;
	}
	&__o3 {
		position: absolute;
		top: 73rem;
		right: 0;
		width: 111.8rem;
		height: 81rem;
	}
	&__ro1 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 110rem;
		z-index: -1;
	}
	&__ro2 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 64rem;
		z-index: -1;
	}
	&__ro3 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 76.5rem;
		height: 19.4rem;
		z-index: -1;
	}
	&__ro4 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 54.4rem;
		height: 40rem;
		z-index: -1;
	}
	&__clipboard {
		
		font-size: 2rem;
		position: absolute;
		z-index: 20;
		bottom: 0;
		left: 28rem;
		display: none;
		border-radius: 2rem;
		border: 0.2rem solid #563431b2;
		background-color: #dfaca5b6;
		font-family: 'Golos Text';
		letter-spacing: 0.2rem;
		width: 100%;
		padding: 1rem;
		color: #523431;
		pointer-events: none;
	}
	&__clipboard.active {
		display: block;
	}
}

.ignore {
	pointer-events: none;
}

.container {
	margin: 0 auto;
	max-width: 126rem;
	position: relative;
}

.header {
	padding-top: 5.7rem;
	margin-bottom: 13.7rem;

	&__ul {
		display: flex;
		justify-content: center;
	}

	&__li {
		margin-right: 12rem;
		&:last-child {margin-right: 0;}
		display: flex;
	}
	
	&__a {
		font-size: 2.1rem;
		font-weight: 600;
		color: #ab8e8a;
		height: 4rem;
		width: 12rem;
		@extend %displayFlex;

		&:hover {
			font-weight: 700;
			text-decoration: underline;
			color: #8a5f59;
		}
	}
	.inhere {
		font-weight: 700;
		text-decoration: underline;
		color: #8a5f59;
	}
}

.start {
	margin-bottom: 52rem;

	.container {
		max-width: 104rem;
	}

	&__title {
		font-family: 'Golos Text';
		font-size: 5.4rem;
		line-height: 5.7rem;
		font-weight: 700;
		color: #7a4a44;
		max-width: 38rem;
		margin-bottom: 3rem;
	}

	&__subtitle {
		font-family: 'Golos Text';
		font-size: 2.1rem;
		line-height: 2.4rem;
		font-weight: 500;
		color: #856868;
		max-width: 38rem;
		margin-bottom: 3rem;
	}

	&__button {
		width: 25rem;
		height: 6rem;
		background-color: #dfaca5;
		box-shadow: 0.8rem 1.4rem 5.5rem 0.8rem rgba(166, 141, 142, 0.4);
		position: relative;
		border-radius: 1rem;
		position: relative;
		@extend %displayFlex;
		box-shadow: 0 0.5rem 0px #a77974;
		transition: 0.3s;
		cursor: pointer;
		user-select: none;

		span {
			font-family: Montserrat;
			font-size: 1.6rem;
			font-weight: 700;
			color: #523431;
		}

		&:hover {
			transform: translateY(0.2rem);
			box-shadow: 0 0.3rem 0px #a77974;
		}
		&:active {
			transform: translateY(0.5rem);
			box-shadow: 0 0rem 0px #a77974;
		}
	}
}

.shop {
	position: relative;
	z-index: 2;

	&__title {
		font-family: 'Golos Text';
		font-size: 6rem;
		font-weight: 600;
		color: #563431;
		text-align: center;
		margin-bottom: 9rem;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__row1 {
		margin-bottom: 10rem;
	}
	&__row2 {
		max-width: 100rem;
		margin: auto;
		>div {
			flex: 0 1 28rem;
			margin: 0 1.75rem 4rem;
		}
		.shop__columm {
		}
		.shop__body {
			padding: 1rem 2.5rem;
		}
	}

	&__columm {
		flex: 0 1 25%;
		display: flex;
		justify-content: center;
		margin-bottom: 4rem;
		
	}

	&__item {
		flex: 0 1 28rem;
		//width: 100%;
		transition: 0.3s;
		background: #6a4b48;

		&:hover {
			transform: scale(1.05);
		}
	}

	&__img {
		height: 16.8rem;
		img {
			pointer-events: none;
		}
	}

	&__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2.5rem;
		background: white;
		transform: scaleY(1.01);
	}

	&__name {
		font-family: 'Golos Text';
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 0.01em;
		color: #563430;
		margin-bottom: 0.5rem;
		max-width: 15rem;
	}

	&__time {
		font-family: 'Golos Text';
		font-size: 1.56rem;
		font-weight: 600;
		color: #c5c5c5;
	}

	&__price {
		font-family: 'Golos Text';
		font-size: 2.44rem;
		font-weight: 700;
		letter-spacing: 0.01em;
		color: #563430;
	}
}

@media (max-width: 48em) {
	.wrapper__v1 {
		transform: scale(0.5) translate(-60%, -50%);
	}
	.wrapper__v2 {
		transform: scale(0.5) translate(50%, -50%);
	}
	.wrapper__v3 {
		transform: scale(0.5) translate(-50%, 0);
	}
	.wrapper__v4 {
		transform: scale(0.5) translate(50%, 0);
	}
	.wrapper__v5 {
		transform: scale(0.5) translate(-50%, 50%);
	}
	.wrapper__v6 {
		transform: scale(0.5) translate(50%, 50%);
	}

	.header {
		&__li {
			margin-right: 5rem;
		}
	}

	.wrapper__bg1,
	.wrapper__ro1,
	.wrapper__ro2,
	.wrapper__ro3,
	.wrapper__ro4 {
		display: none;
	}


	.wrapper__logo1 {width: 70rem;}
	.wrapper__logo2 {
		width: 55rem;
		top: 26rem;
	}

	.start {
		.container {padding: 0 3rem;}
		.pasan {
			left: -4rem;
			transform: scale(0.8);
		}
		.heart {
			top: 10rem;
			left: 30rem;
			transform: scale(0.5);
		}
	}

	.shop {
		&__columm {flex: 0 1 50%;}
	}
}